body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  
  min-height: 100vh;
  flex-direction: column;
}

#skills-list {
  font-size: 0.9em;
  padding: 2px;
  text-align: justify;
}

p {
  margin: 2px 0;
  color: #2e2e2e;
  font-size: 1em;
}

#main-title {
  text-align: center;
  margin-bottom: 10px;
}

#main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch; 
  width: 80%;
  gap: 1rem;
}

.container {
  flex: 1;
  width: 45%;
  max-width: 100%;
  background-color: white;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  margin: 1rem 0;
}

@media screen and (max-width: 1170px) {
  #main-container {
    flex-direction: column;
    width: 96%;
  }
  .container {
    width: 90%;
    margin: 1rem auto;

  }
  .project-img {
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
    
  }
  #main-title {
    font-size: 1.5rem;
  }
  #contact-info {
    font-size: 1rem !important;
  }
  .btn {
    padding: 0.3em 0em !important;
  }
  .project-buttons {
    gap: 0.5em !important;; 
  }
  
}

.social-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 14%;
}

.email-href {
  color: inherit;
  text-decoration: inherit;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 14%;
}

.email-href {
  color: inherit;
  text-decoration: inherit;
}

.resume-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #7DF9FF;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: 800;
  width: 148px; /* Adjust width to fit icon */
  transition: all 0.3s ease;
  padding: 0 8px; /* Added padding to give space for the icon */
}

.download-icon {
  margin-left: 8px;  /* Space between text and icon */
  width: 16px;  /* Adjust the icon size */
  height: auto;
}

/* Hover state */
.resume-button:hover {
  background-color: #00FFFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

/* Active state */
.resume-button:active {
  background-color: #00FFFF;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
  transform: translateY(4px);
}


#social-icons {
  display: block;
  text-align: center;  /* Center align the icons */
  margin-bottom: 10px;
}

#contact-info {
  text-align: center; /* Center align the entire contact info section */
}



#job-year {
  font-size: 0.9em;
  color: gray;
}

.about-entry,
.job,
.education-entry {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.job img,
.education-entry img,
#profile-img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  object-fit: cover;
  border: 1px solid #eee;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6%;
}

.job-info h3,
.education-info h3,
.reference-info h3 {
  margin: 0;
  color: #333;
}

h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.project {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  margin-top: 1em;
}

.disclaimer {
  font-size: 0.7em;
  color: grey;
  margin-top: 5px;
  margin-bottom: 15px;
}

.btn-disabled {
  background-color: #ccc !important;
  cursor: not-allowed !important;
  color: #888 !important;
  width: 160px;
  max-width: 176px;
}

.project-container {
  display: flex;
  gap: 1em; /* add some space between the image and the info */
}

.project-img {
  height: 130px; /* reduce the size of the image */
  width: 130px; /* reduce the size of the image */
  object-fit: contain;
  border-radius: 4%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-info h3 {
  margin: 0 0 0.5em 0;
  font-size: 1.2em;
}

.project-info p {
  margin: 0 0 1em 0;
  color: #2e2e2e;
  font-size: 0.9em;
}

.project-buttons {
  display: flex;
  gap: 1em;
}

.btn {
  padding: 0.5em 1em;
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  width: 80px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.btn:hover {
  background-color: #008CFF;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transform: translateY(-2px);
}

.btn:active {
  background-color: #0069D9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transform: translateY(0);
}

#references {
  margin-top: 40px;
}

.reference {
  margin-bottom: 18px;
}